@charset "UTF-8";

@font-face {
    font-family: arialRoundB;
    src: url('../../fonts/arialRoundb.ttf'), url('../../fonts/arialRoundb.eot');
}
@font-face {
    font-family: brah;
    src: url('../../fonts/brah.ttf'), url('../../fonts/brah.eot');
}
#video-background {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  /*
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
	z-index: 0;*/
}
#container-chamada{
  position: relative;
  top: 32%;
  margin: 0 auto;
  width: auto;
  height: auto;
}
#container-chamada h1{
  position: relative;
  font-family: arialRoundB;
  color: #ffffff;
  font-weight: normal;
  font-size: 3.2em;
  margin: 0;
}
#container-chamada h2{
  position: relative;
  top: 10px;
  font-family: brah;
  color: #ffffff;
  font-weight: normal;
  font-size: 2.1em;
  margin: 0;
}
#container-chamada h3{
  position: relative;
  top: 50px;
  font-family: brah;
  color: #ffffff;
  font-weight: normal;
  font-size: 1.3em;
  margin: 0;
}
@media screen and (max-height: 653px){
  #container-chamada{
    top: 36%;
  }
  #container-chamada h3{
    display: none;
  }
}
@media screen and (max-width: 473px){
  #container-chamada h1{
    font-size: 2.5em;
  }
  #container-chamada h2{
    font-size: 1.5em;
  }
  #container-chamada h3{
    font-size: 1em;
  }
}
