@charset "UTF-8";

#video-background {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
}
#container-chamada{
  position: relative;
  top: 30%;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  height: auto;
}
#container-chamada h1{
  position: relative;
  font-family: fjalaone;
  color: #ffffff;
  font-weight: normal;
  font-size: 5em;
  margin: 0;
}
#container-chamada h2{
  position: relative;
  top: 0px;
  font-family: fjalaone;
  color: #ffffff;
  font-weight: normal;
  font-size: 5em;
  margin: 0;
}
@media screen and (max-height: 608px){
  #container-chamada{
    top: 30%;
  }
  #container-chamada h1{
    font-size: 4em;
  }
  #container-chamada h2{
    font-size: 4em;
  }
}
@media screen and (max-height: 545px){
  #container-chamada{
    top: 32%;
  }
  #container-chamada h1{
    font-size: 3em;
  }
  #container-chamada h2{
    font-size: 3em;
  }
}
@media screen and (max-width: 608px){
  #container-chamada h1{
    font-size: 2.5em;
  }
  #container-chamada h2{
    font-size: 1.9em;
  }
}
