@charset "UTF-8";

@font-face {
    font-family: arialRoundB;
    src: url('../../fonts/arialRoundb.ttf'), url('../../fonts/arialRoundb.eot');
}
@font-face {
    font-family: brah;
    src: url('../../fonts/brah.ttf'), url('../../fonts/brah.eot');
}
@font-face {
    font-family: calibri;
    src: url('../../fonts/calibri.ttf'), url('../../fonts/calibri.eot');
}
#video-background {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
}
#container-chamada{
  position: relative;
  top: 32%;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  height: auto;
}
#container-chamada h1{
  position: relative;
  font-family: arialRoundB;
  color: #ffffff;
  font-weight: normal;
  font-size: 3.2em;
  margin: 0;
}
#container-chamada h2{
  position: relative;
  top: 10px;
  font-family: calibri;
  color: #ffffff;
  font-weight: lighter;
  font-size: 3.2em;
  margin: 0;
}
#container-chamada h3{
  display: none;
  position: relative;
  top: 50px;
  font-family: calibri;
  color: #ffffff;
  font-weight: lighter;
  font-size: 1.5em;
  margin: 0;
}
@media screen and (max-height: 653px){
  #container-chamada{
    top: 30%;
  }
}
@media screen and (max-width: 608px){
  #container-chamada h1{
    font-size: 2.5em;
  }
  #container-chamada h2{
    font-size: 1.9em;
  }
}
