@charset "UTF-8";
header#headerArticleProjetos{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
header#headerArticleProjetos h1{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  font-family: calibri;
  font-weight: bold;
  letter-spacing: -2px;
  font-size: 2.6em;
  color: #3C4858;
}
section#containerMeusProjetos{
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: auto;
}
section#containerMeusProjetos #thumbgithub{
  position: relative;
  width: auto;
}
section#containerMeusProjetos #thumbgithub img{
  position: relative;
  float: left;
  width: 60%;
}
section#containerMeusProjetos #textogithub{
  position: relative;
  float: left;
  width: 30%;
  margin-left: 30px;
  height: auto;
}
section#containerMeusProjetos #textogithub h1{
  position: relative;
  text-align: left;
  font-family: calibri;
  margin-top: 15px;
  font-size: 2em;
  letter-spacing: -2px;
  height: auto;
  color: #3C4858;
}
section#containerMeusProjetos #textogithub p{
  position: relative;
  text-align: justify;
  font-family: calibri;
  margin-top: -20px;
  font-weight: normal;
  font-size: 1.3em;
  height: auto;
  color: #3C4858;
}
section#containerMeusProjetos #textogithub h3{
  position: relative;
  text-align: left;
  font-family: calibri;
  font-weight: lighter;
  font-size: 1.2em;
  height: auto;
  color: #586573;
}
section#containerMeusProjetos #textogithub #buttonexternallink{
  position: relative;
  width: 160px;
  height: 48px;
  border-radius: 2px;
  top: 10px;
  margin-bottom: 20px;
  background: #00B395;
}
section#containerMeusProjetos #textogithub #buttonexternallink:hover{
  box-shadow: 0px 0px 10px -2px #00b395;
}
section#containerMeusProjetos #textogithub a#linkbutton{
  text-decoration: none;
}
section#containerMeusProjetos #textogithub #buttonexternallink p{
  position: relative;
  top: 11px;
  margin-left: 28px;
  text-align: center;
  font-family: calibri;
  font-weight: normal;
  font-size: 1.2em;
  color: #ffffff;
}
section#containerMeusProjetos #textogithub #buttonexternallink img{
  position: relative;
  float: left;
  top: 16px;
  left: 40px;
}
@media screen and (max-width: 1205px){
  section#containerMeusProjetos{
    width: 85%;
    height: auto;
  }
}
@media screen and (max-width: 998px){
  section#containerMeusProjetos{
    position: relative;
    width: 65%;
    height: auto;
  }
  section#containerMeusProjetos #thumbgithub{
    float: center;
    width: auto;
  }
  section#containerMeusProjetos #thumbgithub img{
    width: 100%;
  }
  section#containerMeusProjetos #textogithub{
    float: center;
    width: auto;
    margin-left: 0px;
    height: auto;
  }
}
@media screen and (max-width: 748px){
  section#containerMeusProjetos{
    width: 85%;
    height: auto;
  }
}
