@charset "UTF-8";

#perfil{
  position: relative;
  margin: 0 auto;
  width: 160px;
  height: 160px;
  top: -85px;
  border-radius: 50%;
  background: #00a68a;
  box-shadow: 0px 4px 0px  10px #00a68a;
}
#perfil img{
  margin: 0 auto;
  width: 160px;
  height: 160px;
  top: -85px;
  border-radius: 50%;
  box-shadow: 0px 2px 0px  7px #00b395;
}

section#sobreMim article{
  position: relative;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
header#headerArticleSobreMim h1{
  position: relative;
  margin: 0 auto;
  top: -10px;
  text-align: center;
  font-family: calibri;
  font-weight: bold;
  font-size: 2.2em;
  color: #3C4858;
}
header#headerArticleSobreMim h2{
  position: relative;
  top: -10px;
  text-align: center;
  font-family: calibri;
  font-weight: normal;
  font-size: 1.5em;
  color: #3C4858;
}
section#paragrafo{
  position: relative;
  margin: 0 auto;
  width: 65%;
}
section#sobreMim article p{
  position: relative;
  text-align: center;
  font-family: calibri;
  font-weight: lighter;
  font-size: 1.5em;
  line-height: 125%;
  color: #3C4858;
  text-align: justify;
}
#independente{
  position: relative;
  padding-top: 50px;
  margin: 0 auto;
  width: 68%;
  height: 215px;
  background: #fff;
}
#containerIndependente{
  position: relative;
  margin: 0 auto;
  top: 0px;
  width: 65%;
  height: auto;
}
#autodidata{
  position: relative;
  width: auto;
  height: auto;
  float: left;
}
#autodidata h1{
  position: relative;
  margin-bottom: 0px;
  text-align: center;
  width: auto;
  height: auto;
  font-family: fjalaone;
  font-weight: bold;
  font-size: 1.4em;
  color: #3C4858;
}
#autodidata h2{
  position: relative;
  margin: 0 auto;
  top: 10px;
  text-align: center;
  width: auto;
  height: auto;
  font-family: fjalaone;
  font-weight: normal;
  font-size: 1.1em;
  color: #3C4858;
}
#criativo{
  position: relative;
  margin: 0 auto;
  width: auto;
  height: auto;
  float: right;
}
#criativo img{
  height: 107px;
}
#criativo h1{
  position: relative;
  margin-bottom: 0px;
  width: auto;
  height: auto;
  text-align: center;
  font-family: fjalaone;
  font-weight: bold;
  font-size: 1.4em;
  color: #3C4858;
}
#criativo h2{
  position: relative;
  margin: 0 auto;
  top: 10px;
  text-align: center;
  width: auto;
  height: auto;
  font-family: fjalaone;
  font-weight: normal;
  font-size: 1.1em;
  color: #3C4858;
}
/*            ALL MEDIAS
//////////////////////////////////////
Adaptando texto, autodidata e criativo*/

@media screen and (max-width: 1105px){
  #containerIndependente{
    width: 60%;
  }
  section#paragrafo{
    width: 65%;
  }
}
@media screen and (max-width: 1192px){
  #containerIndependente{
    width: 95%;
  }
}
@media screen and (max-width: 770px){
  #independente{
    width: 100%;
  }
  #containerIndependente{
    width: 80%;
  }
  section#paragrafo{
    width: 85%;
  }
  section#sobreMim article p{
    font-size: 1.4em;
  }
}
@media screen and (max-width: 660px){
  #containerIndependente{
    width: 213px;
  }
  #independente{
    height: 485px;
    padding-top: 0px;
    top: 20px;
  }
  #criativo{
    top: 25px;
  }
}
