@charset "UTF-8";

@font-face {
    font-family: fjalaone;
    src: url('../../fonts/fjalaone.ttf'), url('../../fonts/fjalaone.eot');
}
@font-face {
    font-family: calibri;
    src: url('../../fonts/calibri.ttf'), url('../../fonts/calibri.eot');
}
